body {
    font-family: 'Times New Roman';
    color: black;
    background-color: lightgrey;
}

h1 {
    font-family:'Old English Text MT';
    color: darkorchid;
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  form {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
   
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 
  button[type="submit"]:hover {
    background-color: #0069d9;
  } 